In [23]:
import pandas as pd 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import seaborn as sns
from scipy.stats import chi2_contingency

In [3]:
mental_health_data = pd.read_csv('/Users/mahermubarak/Desktop/Projects/project4/Impact_of_Remote_Work_on_Mental_Health_Final.csv')

In [4]:
mental_health_data.head()

,Employee_ID,Age,Gender,Job_Role,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Satisfaction_with_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,13,Hybrid,47,7,Depression,No,Decrease,Unsatisfied,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,3,Remote,52,4,Anxiety,No,Increase,Satisfied,Weekly,Good,Asia
2,EMP0004,27,Male,Software Engineer,20,Onsite,32,8,Depression,Yes,Increase,Unsatisfied,NaN,Poor,Europe
3,EMP0005,49,Male,Sales,32,Onsite,35,12,NaN,Yes,Decrease,Unsatisfied,Weekly,Average,North America
4,EMP0006,59,Non-binary,Sales,31,Hybrid,39,3,NaN,No,Increase,Unsatisfied,NaN,Average,South America

In [11]:
employees = mental_health_data.groupby('Employee_ID')['Productivity_Change']

In [14]:
hours_per_week = mental_health_data['Hours_Worked_Per_Week']

In [18]:
mental_health_condition = mental_health_data['Mental_Health_Condition']

In [24]:
cross_tab = pd.crosstab(index=mental_health_data['Productivity_Change'], columns=mental_health_data['Work_Location'])
cross_tab

Work_Location        Hybrid  Onsite  Remote
Productivity_Change
Decrease                429     388     378
Increase                326     352     362

In [26]:
chi_sq_result = chi2_contingency(cross_tab,)

In [27]:
p, x = chi_sq_result[1], "reject" if chi_sq_result[1] < 0.05 else "accept"

In [28]:
print(f"the p-value is {chi_sq_result[1]} and hence we {x} the null Hypothesis with {chi_sq_result[2]} degrees of freedom")

the p-value is 0.06635052624701482 and hence we accept the null Hypothesis with 2 degrees of freedom

In [30]:
mental_health_data.head()

,Employee_ID,Age,Gender,Job_Role,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Satisfaction_with_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,13,Hybrid,47,7,Depression,No,Decrease,Unsatisfied,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,3,Remote,52,4,Anxiety,No,Increase,Satisfied,Weekly,Good,Asia
2,EMP0004,27,Male,Software Engineer,20,Onsite,32,8,Depression,Yes,Increase,Unsatisfied,NaN,Poor,Europe
3,EMP0005,49,Male,Sales,32,Onsite,35,12,NaN,Yes,Decrease,Unsatisfied,Weekly,Average,North America
4,EMP0006,59,Non-binary,Sales,31,Hybrid,39,3,NaN,No,Increase,Unsatisfied,NaN,Average,South America

In [31]:
def is_correlated(x,y):
    ct=pd.crosstab(index=mental_health_data[x], columns=mental_health_data[y])
    chi_sq_result = chi2_contingency(ct,)
    p, x = chi_sq_result[1], "correlated" if chi_sq_result[1] < 0.05 else "not-correlated"
    return p,x

In [32]:
is_correlated('Work_Location', 'Job_Role')

(0.6671482119319179, 'not-correlated')

In [33]:
is_correlated('Mental_Health_Condition', 'Productivity_Change')

(0.00523008961114358, 'correlated')

In [35]:
is_correlated('Satisfaction_with_Remote_Work', 'Region')

(0.4380880558870627, 'not-correlated')

In [36]:
is_correlated('Productivity_Change', 'Hours_Worked_Per_Week')

(0.162597458656485, 'not-correlated')

In [37]:
is_correlated('Job_Role', 'Productivity_Change')

(0.09159233901362303, 'not-correlated')

In [38]:
is_correlated('Employee_ID', 'Satisfaction_with_Remote_Work')

(0.49005475160044637, 'not-correlated')